@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated == true)
{



    <li><a class="nav-link scrollto" href="~/Tbl_Category/Index">Categories</a></li>
    <li><a class="nav-link scrollto" href="~/Tbl_Product/Index">Products</a></li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    { @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
    @Html.AntiForgeryToken()
    <li><a class="nav-link scrollto" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

}
}
else
{
<li><a class="nav-link scrollto" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
<li><a class="nav-link scrollto" @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}

