@{
    ViewBag.Title = "Home Page";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Udean Mbano <span>Assignment</span></h1>
        <h2>Submission for Asp.Net Mvc website using OWIN Authentication</h2>
        <div class="d-flex">
        </div>
    </div>
</section><!-- End Hero -->